/* global */

body {
    box-sizing: border-box;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

.wrapper {
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    max-width: 600px;
    margin: 20px auto;
    border-radius: 50px;
}

.header {
    text-align: center;
    font-size: 40px;
    margin: 0;
    padding: 20px;
    color: white;
}

.container {
    background-color: #f5f7fa;
    height: 500px;
    overflow: auto;
}

.list {
    list-style: none;
    font-size: 20px;
    padding: 10px 50px;;
}

.divider {
    height: 1px;
    background-color: rgb(230, 227, 227);
    margin: 10px;
}

.trash {
    position: sticky;
    left: 100%;
    padding: 0;
    width: 27px;
    height: 27px;
    cursor: pointer;
}

.input {
    width: 600px;
    padding: 0;
    margin: 0;
    border: 1px;
    height: 50px;
    font-size: 20px;
}

.footer {
    padding: 20px;
    text-align: center;
}

.plus {
    width: 50px;
    height: 50px;
}

.btn.add {
    margin: auto 0;
}
