:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;

  /* font */
}

/* Global */

* {
  box-sizing: border-box;
}

section {
  background-color: var(--color-black);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.btn {
  background-color: transparent;
  width: 120px;
  height: 120px;
}

.btn:hover {
}

.btn.colorBtn {
  color: var(--color-white);
}

li {
  background-color: var(--color-white);
  width: 1000px;
}

/* main */

/* category */

.btn.colorBtn.blue {
  background-color: var(--color-blue);
}

.btn.colorBtn.yellow {
  background-color: var(--color-yellow);
}

.btn.colorBtn.pink {
  background-color: var(--color-pink);
}

/* contents */

.items {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0;
}
